*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-transparent
{
    padding-top: 20px;
    z-index: 1;
}

.collapse.navbar-collapse
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item
{
    font-weight:450;
    padding: 10px 15px;
}

ul li a{
  color: white !important;
}

ul li a:hover, ul li.active a {
  color: red !important;
}

#scrollHolder
{
    display: none;
}

#Navbar
{
    display: none;   
}

.SectionBG
{
    height: 100vh;
    width: auto;
    background-color: rgb(25, 25, 25);
}

#SectionMainText
{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10vh;
}

#intro
{
    display: flex;
    background-color: rgb(230, 230, 230);
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-top: 0vh;
}

@keyframes pushdivup {
    0%
    {
        margin-top: 0vh;
    }
    100%
    {
        margin-top: -100vh;
    }
}

@keyframes invert-colors {
    0%
    {
        filter: invert(0);
    }
    100%
    {
        filter: invert(1);
    }
}

.typing
{
    position: relative;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 80px;
}

.typing::after
{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    border: 1px solid black;
    right: -4px;
    animation: cursor-blink 0.7s infinite ease;
}

@keyframes cursor-blink
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.GlitchEffect
{
    margin-top: 75vh;
    margin-left: 7vh;
    position:absolute;
}

.GlitchEffect h1, h3
{
    color: white;
}